.w3-main { margin-left:20px; margin-right:20px; text-align:justify}

:root {
    --cs-color-red: #96023c;
    --cs-color-gray: #857894;
    
    --color-first: var(--cs-color-red);
    --color-first-dark: #6d012c;
    --color-second: var(--cs-color-gray);
    --color-second-dark: #63596e;
    
    --color-banner: #dedede;
    --shadow-color-banner: #333333;
    --core-color: #555555;
    --link-color: #6648ff;
    --link-color-hover: #412ea1;

    --basic-font: arial, sans-serif;
    --fancy-font: 'Kalam', cursive;
}

p.header {
	font-family: 'Indie Flower';
	font-size: 22px;
}

code {
	white-space: pre;
	color: var(--cs-color-red);
}

/* pre.console { */
/*  white-space: pre-wrap;       /1* css-3 *1/ */
/*  white-space: -moz-pre-wrap;  /1* Mozilla, since 1999 *1/ */
/*  white-space: -pre-wrap;      /1* Opera 4-6 *1/ */
/*  white-space: -o-pre-wrap;    /1* Opera 7 *1/ */
/*  word-wrap: break-word;       /1* Internet Explorer 5.5+ *1/ */
/* } */

body {
    font-family:var(--basic-font);
    font-size:18px;
    color: var(--core-color);
}

figure {
    text-align:center;
}

figcaption::before {
  content:"Figure : ";
  font-family: Roboto;
  font-weight: bold;
}
figcaption {
  margin: 40px 0px 40px 0px;
  text-align: center;
}

h1 {
    font-family:var(--basic-font);
    background-color: var(--color-banner);
    color: var(--color-first);
    text-shadow: 2px 2px 2px var(--shadow-color-banner);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin-top: 50px;
    padding-left: 10px;
    background-color: var(--color-second);
    color: white;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    margin-top: 50px;
    padding-left: 0px;
    color: var(--color-first);
    font-weight: bold;
    font-size: 30px;
}

h4 {
    margin-top: 50px;
    padding-left: 0px;
    color: var(--color-second);
    font-weight: bold;
    font-size: 20px;
}

h2, h3, h4, h5 {
	font-family: var(--fancy-font);
}

hr {
    border:2px solid;
}

.w3-main a {
	color: var(--link-color);
	text-decoration: none;
}

.w3-main a:hover {
	color: var(--link-color-hover);
}


.blink_me {
	  animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.cs-bg-red {
	background: var(--cs-color-red);
}
